<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gaming Gear Website{% endblock %}</title>
    {% block stylesheet %}
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
              rel="stylesheet">
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{{asset('Front/main.css')}} ">
        <link rel="stylesheet" href="{{asset('https://unicons.iconscout.com/release/v4.0.0/css/line.css')}} ">
        <link rel="stylesheet" href="{{asset('Front/swiper-bundle.min.css')}}">
        <link rel="stylesheet" href="{{asset('Front/css/bootstrap.min.css')}} " type="text/css">
        <link rel="stylesheet" href="{{asset('Front/css/font-awesome.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('Front/css/elegant-icons.css)')}}" type="text/css">
        <link rel="stylesheet" href="{{asset ('Front/css/plyr.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('Front/css/nice-select.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('Front/css/owl.carousel.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('Front/css/slicknav.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('Front/css/style.css')}}" type="text/css"
    {% endblock %}
</head>
<br>
{% block body %}
    <!-- ========================= Header Section -->
    <header class="header " id="header">
        <div class="logoDiv">
            <a href="#home"> <i class="uil uil-pagerduty icon logoIcon"></i></a>
        </div>
        <div class="navBar" id="navBar">
            <ul class="navLists">
                <li class="navItem"><a href="#browser" class="navLink">Gears</a></li>
                <li class="navItem"><a href="#features" class="navLink">Features</a></li>
                <li class="navItem"><a href="#newgear" class="navLink">New Arrival</a></li>
                <li class="navItem"><a href="#test" class="navLink">ProGammers</a></li>
                <li class="navItem"><a href="blog" class="navLink">Our Blog</a></li>
                <li class="navItem"><a href="event" class="navLink">Our Event</a></li>
            </ul>
            <div class="closeIconDiv" id="closeIcon">
                <i class="uil uil-times-circle icon closeIcon"></i>
            </div>
        </div>
        <div class="toggleIconDiv" id="toggleIcon">
            <i class="uil uil-ellipsis-h icon"></i>
        </div>
        <div class="accCart">
            <div class="accDiv">
                <i class="uil uil-user-circle icon  userIcon"></i>
                <div class="plainName">TheAces</div>

            </div>
            <div class="cartDiv" id="cartIcon">
                <i class="uil uil-shopping-bag icon" ></i>
            </div>

            <div class="themeIconDiv" id="themeIconDiv">
                <i class="uil uil-sun icon"></i>
            </div>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
{% block content %}


{% endblock  %}



{% block js %}
    <script src="{{asset('Front/swiper-bundle.min.js')}}"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{{asset('Front/main.js')}}"></script>

{% endblock %}
{% endblock %}
</body>
</html>